[submodule "Modules/embfmt"]
	path = Modules/embfmt
	url = https://gitea.epagris.com/epagris/embfmt
[submodule "Modules/lwip"]
	path = Modules/lwip
	url = https://github.com/lwip-tcpip/lwip.git
[submodule "Drivers/stm32h7xx-hal-driver"]
	path = Drivers/stm32h7xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32h7xx-hal-driver.git
[submodule "Modules/flexptp"]
	path = Modules/flexptp
	url = https://github.com/epagris/flexPTP
[submodule "Modules/etherlib"]
	path = Modules/etherlib
	url = https://gitea.epagris.com/epagris/EtherLib
